<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>AngularJS</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/curso.css">
	<script src="lib/angular.min.js">
	</script>
	<script>
		angular.module("myapp", []).controller('MyCtrl', ['$scope','$interval', function ($scope, $interval) {

			$scope.numberOfLines = 20;
			$scope.numberOfColumns = 20;
			$scope.numberOfLiving = 0;
			$scope.gen = 0;            
			$scope.lines = [];
			$scope.newLines = [];
			$scope.timeExec = 100;
			$scope.promisseAutoExec = null;

			$scope.populateArray = function (){

				if (isNaN(parseInt($scope.numberOfLines))) {
					alert("Número de linhas de ser um inteiro");
					return;
				}
				else if (isNaN(parseInt($scope.numberOfColumns))) {
					alert("Número de colunas de ser um inteiro");
					return;
				};			

				for (var i = 0; i < $scope.numberOfLines; i++) {

					$scope.lines.push({ columns: [] });

					for (var j = 0; j < $scope.numberOfColumns; j++) {
						$scope.lines[i].columns.push({ living: false});
					}
				};
			};

			$scope.step = function (){
				if($scope.lines.length <= 0){
					alert('Crie uma tabela');
					if($scope.promisseAutoExec != null){
						$scope.resetAll();
					}
					return;
				}

				if($scope.numberOfLiving >= 1){
					$scope.gen++;
					$scope.calculateNewState();
				}
				else{
					$scope.stopAuto();					
					alert('Fim');
					$scope.resetAll();
				}	
			};

			$scope.stepAuto = function (){
				if (isNaN(parseInt($scope.timeExec))) {
					alert("Tempo entre execuções deve ser um número");
					return;
				};

				$scope.promisseAutoExec = $interval(function(){
					$scope.step();
				}, 10);
			};

			$scope.stopAuto = function (){
				$interval.cancel($scope.promisseAutoExec);
				$scope.promisseAutoExec = null;
			};

			$scope.changeLife = function (column, revive){
				column.living = revive;
				if(revive)
					$scope.numberOfLiving++;
				else
					$scope.numberOfLiving--;
			}

			$scope.resetAll = function (){
				$scope.stopAuto();
				$scope.lines = [];
				$scope.gen = 0;
				$scope.populateArray();
			};

			$scope.calculateNewState = function(){
				$scope.numberOfLiving = 0;

				for (var line in $scope.lines){

					$scope.newLines.push({ columns: [] });                    
				 
					for (var col in $scope.lines[line].columns) {

						line = parseInt(line);
						col = parseInt(col);

						var life = $scope.lines[line].columns[col].living;

						var number_neighbors = $scope.getNumberOfNeighbors(line, col);

						if(life)
						{
							if(number_neighbors < 2 || number_neighbors > 3)
							{
								life = false;					
							}
							else if(number_neighbors >= 2 || number_neighbors <= 3)
							{
								life = true;				
							}
						}
						else if(number_neighbors == 3)
						{
								life = true;				
						};		

						$scope.newLines[line].columns.push({ living: life});

						if(life)
							$scope.numberOfLiving++;	
					};

				};
				
				$scope.updateLifes();
			};

			$scope.getNumberOfNeighbors = function(x, y){
				var n = 0;
				if ($scope.isCellAlive(x-1, y-1))  n++;
				if ($scope.isCellAlive(x-1, y))    n++;
				if ($scope.isCellAlive(x-1, y+1))  n++;
				if ($scope.isCellAlive(x, y-1))    n++;
				if ($scope.isCellAlive(x, y+1))    n++;
				if ($scope.isCellAlive(x+1, y-1))  n++;
				if ($scope.isCellAlive(x+1, y))    n++;
				if ($scope.isCellAlive(x+1, y+1))  n++;
				return n;
			};

			$scope.isCellAlive = function(x, y){
				var alive = false;
				if ((x >= 0) && (x < $scope.numberOfLines) && (y >= 0) && (y < $scope.numberOfColumns)) 
				{
					alive = $scope.lines[parseInt(x)].columns[parseInt(y)].living;
				} 
				else 
				{
					alive = false;
				}
				return alive;
			};

			$scope.updateLifes = function () {
				$scope.lines = $scope.newLines;
				$scope.newLines = [];
			};

			$scope.populateArray();

		}]);
	</script>
	<style type="text/css">
		.classLiving{
			background: gray;
		}
	</style>
</head>
<body ng-app="myapp" ng-controller="MyCtrl">
	<div class="container">
		<label>Linhas</label> <input type="text" ng-model="numberOfLines"></input>
		<label>Colunas</label> <input type="text" ng-model="numberOfColumns"></input>
		<label>Tempo auto</label> <input type="text" ng-model="timeExec"></input>

		<br>
		<br>
		<br>

		<button ng-click="resetAll()" class="btn btn-large">Gerar tabela/Resetar</button>
		<label class="label">Geração: {{gen}}</label>

		<br>
		<br>
		<br>

		<table border="1">
			<tr ng-repeat="line in  lines">
				<td ng-repeat="column in line.columns" ng-class="{'classLiving': column.living}">                    
					<div ng-click="changeLife(column, false);" ng-show="column.living">
						<b>:-)</b>
					</div>
					<div ng-click="changeLife(column, true);" ng-show="!column.living">
						<b>:-(</b>
					</div>
				</td>
			</tr>
		</table>

		<br>
		<br>
		<br>
	

		<button ng-click="step()" ng-show="promisseAutoExec == null" class="btn btn-large">Passo</button>
		<button ng-click="stopAuto()" ng-show="promisseAutoExec != null" class="btn btn-large">Stop</button>
		<button ng-click="stepAuto()" ng-show="promisseAutoExec == null" class="btn btn-large">Auto</button>
	</div>
</body>
</html>
